<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <title>关于我们</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div align="center" style="margin-top: 50px">
        <img src="/Public/images/qsc_logo01.jpg" style="width:100px;height:100px">
    </div>
    <div align="center" style="margin-top: 20px; color: #585858;font-size:16px;font-weight:bold">
        北京旅道网络科技有限公司
    </div>
    <div align="center" style="padding:0px 10px;margin-top: 30px;color:#585858;font-size:14px;text-align:justify;text-justify:distribute">
             逍品旅行（QSCtrip.com）是专注于中国出境旅游优质服务供应商和高品质旅游产品的分销平台，我们只选择获得专业和权威认证的优质供应商。让优质出境旅游产品畅销无阻，是我们的专业追求，为代理商和旅行顾问提供全程无忧的分销工具，是我们的专业能力。
    </div>
    <div align="center" style="margin-top: 40px; color: #00d8ff;font-size:16px;font-weight:bold">
    官方QQ群：463382849
    </div>
    <div align="center" style="position: fixed; bottom: 20px;left:24%; color: #999; font-size: small">
        北京旅道网络科技有限公司<br>
        Copyright © 2016 All Rights Reserved
    </div>

</body></html>