<style>
    .face_img {
        width: 300px;
        height: 200px;

    }
    .title_txt {
        position: absolute;
        bottom: 0px;
        width: 300px;
        color: white;
        background: #000000;
        opacity: 0.5;
        height: 40px;
        font-size: 14px;
        line-height: 40px;
        text-align: center;
        text-overflow : clip | ellipsis;
    }
    .item {
        position: relative;
        float: left;
        margin-top: 40px;
        margin-right: 40px;
    }

    .title {
        margin-top: 0px;
        font-size: 16px;
    }

    .destination {

        font-size: 14px;
        color: #585858;
    }

    .validate {
        margin-top: 0px;
    }

    .price {
        margin-top: 0px;
        font-size: 22px;
        color: #ff9500;
    }
    .detail>a{
        color: #ffffff;
        text-decoration: none;
    }

    .detail1 {
        width: 100%;
        font-size: 18px;
        background: #0097d6;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 40px;
        text-align: center;
        color: #ffffff;
        bottom: 0px;
        right: 0px;
    }



    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
        position: relative;
        min-height: 1px;
        padding-right: 3px;
        padding-left: 3px;
    }

    #detail img {
        width: 100%;
    }
</style>

<div style="max-width: 1000px;width: 100%;position: relative;margin:0 auto;background-color:#fff;padding-bottom:300px">
    <div class="col-sm-12" style="margin-top: 20px">
        <div>
            <div style="font-size: 28px;color: #585858"><?=$title;?></div>
        </div>
        <div><hr/></div>

        <div class="col-sm-12" id="detail">
            <?php echo $content;
            $detail = $p_detail;
            ?>
            <div style="clear: both"></div>
        </div>
    </div>

    <div style="clear: both"></div>
</div>