<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>商品展示图片添加</title>

<!-- 引用控制层插件样式 -->
<link rel="stylesheet" href="__PUBLIC__/Admin/filepic/css/zyUpload.css" type="text/css">

<script src="__PUBLIC__/Admin/filepic/js/jquery.min.js"></script>

<!-- 引用核心层插件 -->
<script src="__PUBLIC__/Admin/filepic/js/zyFile.js"></script>

<!-- 引用控制层插件 -->
<script src="__PUBLIC__/Admin/filepic/js/zyUpload.js"></script>



</head>
<body style="background:url(__PUBLIC__/Home/images/223.jpg);">

<h1 style="text-align:center;">添加商品展示图片---请上传4张</h1>

<div id="demo" class="demo"></div>

	<div style="margin-top:-190px;margin-left:100px;width:700px;height:30px;font-size:14px;color:#D91B3B;text-align:center;margin-bottom:20px;">注意:&nbsp;&nbsp;&nbsp;请上传四张图片,超过会被去掉哦!</div>
	<div style="position:absolute;top:340px;left:330px"><img src="__PUBLIC__/Home/images/xiaoren.png" width="200px" height="190px" style="z-index:1;"></div>
	<div id="gid" style="display:none">{$gid}</div>
<script type="text/javascript">
	$(function(){
		var vs = $('#gid').html();
		// alert(vs);
	// 初始化插件
	$("#demo").zyUpload({
		width            :   "650px",                 // 宽度
		height           :   "400px",                 // 宽度
		itemWidth        :   "120px",                 // 文件项的宽度
		itemHeight       :   "100px",                 // 文件项的高度
		url              :   "{:U('Admin/Goods/work/')}?gid="+vs,  // 上传文件的路径
		multiple         :   true,                    // 是否可以多个文件上传
		dragDrop         :   true,                    // 是否可以拖动上传文件
		del              :   true,                    // 是否可以删除文件
		finishDel        :   false,  				  // 是否在上传文件完成后删除预览
		
		
	});
	
})




</script>
</body>
</html>