<extend name="Index/index" />

<block name="con">
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/Admin/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/Admin/ueditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/Admin/ueditor/lang/zh-cn/zh-cn.js"></script>


    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">口碑修改</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>  
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <form role="form" action="{:U('Admin/Comment/update')}" method="post" enctype="multipart/form-data">
                                <input type="hidden" value="{$id}" name="id">
                                <div class="form-group">
                                    <label>标题</label>
                                    <input name="title" type="text" class="form-control"  value="{$cominfos['title']}">
                                </div>
                                <div class="form-group">
                                    <label>用户ID</label>
                                    <input name="uid" type="text" class="form-control" value="{$cominfos['uid']}" readonly>
                                </div>
                                <div class="form-group">
                                    <label>商品ID</label>
                                    <input name="gid" type="text" class="form-control" value="{$cominfos['gid']}" readonly>
                                </div>
                                <div class="form-group">
                                    <label>功效</label><br>
                                    <label style="color:#666;"><input name="effect[]" type="checkbox"  value="补水保湿"
                                        <if condition="in_array('补水保湿', $effect)"> checked</if>
                                    >补水保湿</label>&nbsp;&nbsp;
                                    <label style="color:#666;"><input name="effect[]" type="checkbox"  value="控油"
                                        <if condition="in_array('控油', $effect)"> checked</if>
                                    >控油</label>&nbsp;&nbsp;
                                    <label style="color:#666;"><input name="effect[]" type="checkbox"  value="抗衰老/抗皱"
                                        <if condition="in_array('抗衰老/抗皱', $effect)"> checked</if>
                                    >抗衰老/抗皱</label>&nbsp;&nbsp;
                                    <label style="color:#666;"><input name="effect[]" type="checkbox"  value="抗菌消炎"
                                        <if condition="in_array('抗菌消炎', $effect)"> checked</if>
                                    >抗菌消炎</label>&nbsp;&nbsp;
                                    <label style="color:#666;"><input name="effect[]" type="checkbox"  value="收缩毛孔"
                                        <if condition="in_array('收缩毛孔', $effect)"> checked</if>
                                    >收缩毛孔</label>&nbsp;&nbsp;
                                    <label style="color:#666;"><input name="effect[]" type="checkbox"  value="抗氧化"
                                        <if condition="in_array('抗氧化', $effect)"> checked</if>
                                    >抗氧化</label></label>&nbsp;&nbsp;
                                    <label style="color:#666;"><input name="effect[]" type="checkbox"  value="抗敏感"
                                        <if condition="in_array('抗敏感', $effect)"> checked</if>
                                    >抗敏感</label>&nbsp;&nbsp;
                                    <label style="color:#666;"><input name="effect[]" type="checkbox"  value="去黑眼圈"
                                        <if condition="in_array('去黑眼圈', $effect)"> checked</if>
                                    >去黑眼圈</label>&nbsp;&nbsp;
                                   <label style="color:#666;"><input name="effect[]" type="checkbox"  value="修护养护"
                                        <if condition="in_array('修护养护', $effect)"> checked</if>
                                   >修护养护</label>&nbsp;&nbsp;
                                    <label style="color:#666;"><input name="effect[]" type="checkbox" value="安神镇静"
                                        <if condition="in_array('安神镇静', $effect)"> checked</if>
                                    >安神镇静</label>&nbsp;&nbsp;
                                    <label style="color:#666;"><input name="effect[]" type="checkbox"  value="纤颜塑形"
                                        <if condition="in_array('纤颜塑形', $effect)"> checked</if>
                                    >纤颜塑形</label><br>
                                    
                                </div>
                               <div class="form-group">
                                    <label>是否加精品报告</label>
                                    <select name="best" class="form-control">
                                        <option value="0">否</option>
                                        <option value="1">是</option>
                                    </select>
                                </div>
								
                                <div class="form-group">
                                    <label>口碑详情</label>
                                    <script id="editor" name="content" type="text/plain" style="width:700px;height:500px;">{$cominfos['content']}</script>
                                </div>
                            
                                <button  class="btn btn-primary">添加</button>
                                <button type="reset" class="btn btn-default">重置</button>
                            </form>
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                       
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>	
    <script type="text/javascript">
    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor');
    </script>  
    
</block>