<extend name="Index:index" />
<block name="css">

</block>

<block name="js">
    <script>
        $(document).ready(function () {
            $('#dataTables-example').DataTable({
                responsive: true,
            });
        });
    </script>
</block>
<block name="con">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"></h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    用户组列表
                </div>
                <div class="table table-striped table-bordered table-hover">
                    &nbsp;&nbsp;&nbsp; <a href='__URL__/add'><button type="button" class="btn btn-outline btn-danger">添&nbsp;&nbsp;   加</button></a>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>组ID</th>
                                    <th>组姓名</th>
                                    <th>拥有的规则id</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            <foreach name="groups" item="vo" key="k" >                
                                <tr class="odd gradeA">
                                    <td>{$vo.id}</td>
                                    <td>{$vo.title}</td>
                                    <td style="word-break:break-all;word-wrap:break-word">{$vo.rules}</td>
                                    <td>
                                        <a href="{:U('Admin/Group/edit', array('id'=>$vo['id']))}"><button type="button" class="btn btn-success btn-circle"><i class="fa fa-edit"></i></button></a>

                                        <a href="{:U('Admin/Group/delete', array('id'=>$vo['id']))}"><button type="button" class="btn btn-info btn-circle"><i class="fa fa-times"></i></button></a>
                                    </td>                              
                                </tr>
                            </foreach>            
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-1
        2 -->
    </div>
    <!-- /.row -->
</block>
