<link rel="stylesheet" href="/Public/css/bootstrap.min.css">
<style>
	*{
		margin:0;
		padding:0;
	}
	body,html{
		font-size: 14px;
		font-family:"Microsoft YaHei";
		height: 100%;
		background-color: #f5f5f5;
	}
	a:link,a:hover,a:active,a:visited{
		text-decoration: none !important;
	}
	ul li{
		list-style: none;
	}
	button{
		outline: none;
	}
	body,html{
		font-size: 14px;
		font-family:"Microsoft YaHei";
		height: 100%;
		background-color: #f5f5f5;
	}
	.myStore-main{
		width: 1135px;
		margin:0 auto;
		background-color: #fff;
		padding:0 15px 240px 15px;
		min-height: 600px;
	}
	.date_sel {
		margin-top: 30px;
		background: #e7e7e7;
		color: #333333 ;
		height: 50px;
		line-height: 50px;
	}
	.date_sel_tip {
		float: left;
	}
	.td_style {
		word-wrap:break-word;
	}

	.td_width_60 {
		width:100px;
	}
	.td_width_100 {
		width:100px;
	}
	#product_list th{
		height:40px;
		line-height:40px;
		text-align:center;
		border:none;
		font-size:14px;
		background: #7febff;
		color:#ffffff;
		font-weight:normal
	}
	#product_list thead{
		border:1px solid  #7fcbea;
	}
	#product_list td{
		height:45px;
		line-height:45px;
		width:220px
	}
	tr td{
		font-size:14px;
		color:#585858;
	}
	tr td{
		font-size:14px;
		color:#585858
	}
	tr td:nth-child(5) a{
		font-size:14px;
		color:#0097d6
	}
	.pagination-lg > li > a, .pagination-lg > li > span{
		margin-left:5px;
		font-size:14px;
		padding: 5px 10px;
	}
	.pagination-lg > li:last-child > a, .pagination-lg > li:last-child > span {
		border-bottom-right-radius: 0px;
		border-top-right-radius: 0px;
	}
	.pagination-lg > li:first-child > a, .pagination-lg > li:first-child > span {
		border-bottom-left-radius: 0px;
		border-top-left-radius: 0px;
	}
	.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
		background-color: #7fcbea;
		border-color: #7fcbea;
		color: #fff;
		cursor: default;
		z-index: 2;
	}
	.customer_list{
		min-height:500px;
		padding-top:10px;
	}
	a:hover, a:visited, a:link, a:active{
		text-decoration: none;
	}
	.clear{
		clear:both
	}
	table
	{
		border-collapse:collapse;
	}
	table td
	{
		empty-cells : show
	}
	#no_result{
		display: none;
	}
	.store-update,.store-delete{
		display: inline-block;
	}
	.store-update{
		color: #00d8ff;
		margin-right: 10px;
		cursor: pointer;
	}
	.store-delete{
		color: red;
		margin-left: 10px;
		cursor: pointer;
	}
	#product_list tr td:nth-child(2){
		line-height: 20px;
		/*解决文字右边不对齐的情况 火狐第一个  ie第二个*/
		text-align:justify; 
		vertical-align:middle; 
		display:table-cell; 
	}
	.err_name,.err_addr,.err_person,.err_phone{
		background:url(/Public/images/wrong1.png) no-repeat;
		background-position: left center;
		height: 34px;
		padding-left: 20px;
		line-height: 34px;
		display:none;
	}
	.add_store{
		margin-top: 20px;
		display: none;
	}
	.no_result_font{
		float: left;
		height: 30px;
		line-height: 30px;
		font-size:16px;
		margin-right: 10px;
	}
	.no_result_add{
		float: left;
		width: 120px;
		height: 30px;
		background-color: #0097d6;
		color:#fff;
		line-height: 30px;
		text-align: center;
		margin:0 auto;
		cursor: pointer;
	}
	table{
		display: none;
	}
	.no_result_parent{
		width:300px;
		margin:0 auto;
		display:none;
	}
</style>
<div class="myStore-main">
	<div class="no_result_parent">
		<div class="no_result_font">您当前还没有门店,去</div>
		<div class="no_result_add">添加门店</div>
	</div>
	<button class="add_store btn btn-default" onclick="javascript:window.location.href='/store/add_store_id'">添加</button>
	<div class="customer_list">
		<table class="table table-bordered text-center" id="product_list" style="margin-top: 10px">
			<thead>
			<th style="padding:0">门店</th>
			<th style="padding:0">地址</th>
			<th style="padding:0">联系人</th>
			<th style="padding:0">手机号</th>
			<th style="padding:0">操作</th>
			</thead>
			<tbody id="customer_table_body">
			</tbody>
		</table>
		<div id="no_result">
			您当前还没有客户
		</div>
		<ul class="center pagination pagination-sm" id="ul_pages"></ul>
	</div>
	<div class="modal fade" id="myModal">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">修改</h4>
	      </div>
	      <div class="modal-body">
	        	<form class="form-horizontal">
	        	  <div class="form-group">
	        	    <label for="inputEmail3" class="col-sm-2 control-label">名称：</label>
	        	    <div class="col-sm-7">
	        	      <input type="text" class="form-control" id="m_s_name">
	        	    </div>
	        	    <div class="col-sm-3">
	        	    	<div class="err_name"></div>
	        	    </div>
	        	  </div>
	        	  <div class="form-group">
	        	    <label for="inputPassword3" class="col-sm-2 control-label">地址：</label>
	        	    <div class="col-sm-7">
	        	      <input type="text" class="form-control" id="m_s_addr">
	        	    </div>
	        	    <div class="col-sm-3">
	        	    	<div class="err_addr"></div>
	        	    </div>
	        	  </div>
	        	  <div class="form-group">
	        	    <label for="inputEmail3" class="col-sm-2 control-label">联系人：</label>
	        	    <div class="col-sm-7">
	        	      <input type="text" class="form-control" id="m_s_person">
	        	    </div>
	        	    <div class="col-sm-3">
	        	    	<div class="err_person"></div>
	        	    </div>
	        	  </div>
	        	  <div class="form-group">
	        	    <label for="inputPassword3" class="col-sm-2 control-label">手机号：</label>
	        	    <div class="col-sm-7">
	        	      <input type="text" class="form-control" id="m_s_phone">
	        	    </div>
	        	    <div class="col-sm-3">
	        	    	<div class="err_phone"></div>
	        	    </div>
	        	  </div>
	        	</form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" id="true_change">确定</button>
	      </div>
	    </div>
	  </div>
	</div>
</div>
<script src="/Public/js/layer.js"></script>
<script>

	var m_total = <?php if(isset($order_info['total'])) echo $order_info['total']; else echo 0 ;?> ;
	var m_current_page = <?php if(isset($order_info['cur'])) echo $order_info['cur']; else echo 0 ;?> ;
	var m_page_record = <?php if(isset($order_info['rn'])) echo $order_info['rn']; else echo 10 ;?> ;
	$(function() {
		get_all_product_by_page(m_current_page,m_page_record) ;
		// 点击添加门店
		$('.no_result_add').click(function() {
			window.location.href='/store/add_store_id'
		});
	

	/**
	 * 添加页码
	 * @param total
	 */
	function add_pages(total, current) {
		m_total_page = Math.ceil(total /m_page_record);
		if (m_total_page==1) {
			$("#ul_pages").hide();
		}else{
			$("#ul_pages").show();
		}
		var html = "<li" ;

		//首页
		if(current == 0) {
			html += " class=\"disabled\"" ;
		}

		html += "><a onclick=\"on_page_click(0)\">首页<li>";

		html += "<li" ;

		//上一页
		if(current == 0) {
			html += " class=\"disabled\"" ;
		}
		html += "><a onclick=\"pre_page()\">上一页</a></li>" ;

		//中间页
		if(m_total_page<10){
			for(var i=0;i<m_total_page;i++) {
				if(i == current ) {
					html += "<li class=\"active\">" ;
				} else {
					html += "<li>";
				}

				html += "<a onclick=\"on_page_click(" + i + ")\">" + (i+1) + "</a></li>" ;
			}
		}else{
			var now_half =  m_total_page-9;

			if(current < now_half){
				for(var i=0;i<4;i++) {
					if(current + i== current ) {
						html += "<li class=\"active\">" ;
					} else {
						html += "<li>";
					}

					html += "<a onclick=\"on_page_click(" + (current+i) + ")\">" + (current+i+1) + "</a></li>" ;
				}
				html += "<li><a onclick=\"on_page_click(" + (current+4) + ")\">" + "..." + "</a></li>";
				for(var i=4;i>0;i--) {
					if(m_total_page-i == current ) {
						html += "<li class=\"active\">" ;
					} else {
						html += "<li>";
					}

					html += "<a onclick=\"on_page_click(" + (m_total_page-i)+ ")\">" + (m_total_page-i+1) + "</a></li>" ;
				}
			}else{
				for(var i= 9;i>0;i--) {
					if(m_total_page-i == current ) {
						html += "<li class=\"active\">" ;
					} else {
						html += "<li>";
					}

					html += "<a onclick=\"on_page_click(" + (m_total_page-i)+ ")\">" + (m_total_page-i+1) + "</a></li>" ;
				}
			}

		}

		//下一页
		html += "<li" ;
		if(current == m_total_page - 1){
			html += " class=\"disabled\"";
		}
		html += "><a onclick=\"next_page("+current+")\">下一页</a></li>" ;

		//尾页
		html += "<li" ;
		if(current == m_total_page - 1){
			html += " class=\"disabled\"";
		}

		html += "><a onclick=\"on_page_click("+(m_total_page - 1)+")\">尾页</a></li>" ;

		$("#ul_pages").html(html) ;
	}

	function on_page_click(index) {
		if(index < m_total_page) {
			m_current_page = index ;
			get_all_product_by_page(m_current_page,m_page_record) ;
		}
	}

	/**
	 * 上一页
	 */
	function pre_page() {
		if(m_current_page > 0) {
			m_current_page -- ;
			get_all_product_by_page(m_current_page,m_page_record) ;
		}
	}

	/**
	 * 下一页
	 */
	function next_page(current) {
		if(m_current_page < m_total_page -1) {
			m_current_page ++ ;

			get_all_product_by_page(m_current_page,m_page_record) ;
		}
	}

	function get_all_product_by_page(page, record) {
		var p_url="/store/get_list" ;
		$.get(p_url,
				{
					rn:record,
					pn:page,
				},
				function(data) {
					console.log(data)
					if(data.result.err == 0) {
						if(data.content != null) {
							$('table').show();
							$('.add_store').show();
							$('.no_result_parent').hide();
							update_list(data.content)
						} else {
							update_no_result();
						}
					} else {
						$('.add_store').hide();
						$('.customer_list').hide();
						$('.myStore-main').css({
							'padding-top': '100px'
						});
						$('.no_result_parent').show();
					}
				}) ;
	}

	function update_no_result() {
		$("#no_result").show() ;
		$("#product_list").hide() ;
		$("#ul_pages").hide() ;
	}

	function update_list(content) {
		if(content == null) {
			return ;
		}

		if(content.list.length == 0 ) {
			update_no_result();
		} else {
			$("#no_result").hide() ;
			$("#ul_pages").show() ;
			$("#product_list").show() ;

			$("#customer_table_body").html('') ;

			//reset product list
			for(var i=0;i<content.list.length;i++) {
				add_row(content.list[i], i) ;
			}

			add_pages(content.total, m_current_page) ;
		}
	}


	// 对Date的扩展，将 Date 转化为指定格式的String
	// 月(M)、日(d)、小时(h)、分(m)、秒(s)、季度(q) 可以用 1-2 个占位符，
	// 年(y)可以用 1-4 个占位符，毫秒(S)只能用 1 个占位符(是 1-3 位的数字)
	// 例子：
	// (new Date()).Format("yyyy-MM-dd hh:mm:ss.S") ==> 2006-07-02 08:09:04.423
	// (new Date()).Format("yyyy-M-d h:m:s.S")      ==> 2006-7-2 8:9:4.18
	Date.prototype.Format = function (fmt) {
		var o = {
			"M+": this.getMonth() + 1, //月份
			"d+": this.getDate(), //日
			"h+": this.getHours(), //小时
			"m+": this.getMinutes(), //分
			"s+": this.getSeconds(), //秒
			"q+": Math.floor((this.getMonth() + 3) / 3), //季度
			"S": this.getMilliseconds() //毫秒
		};
		if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
		for (var k in o)
			if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
		return fmt;
	}


	function add_row(data, row) {
		var tr = document.getElementById('customer_table_body').insertRow() ;
		tr.className=data['uid'];
		var num1 = tr.insertCell(0) ;
		num1.innerHTML = data['name'];

		var num2 = tr.insertCell(1) ;
		num2.innerHTML = data['address'];

		var num3 = tr.insertCell(2) ;
		num3.innerHTML = data['contact'];

		var num4 = tr.insertCell(3) ;
		num4.innerHTML = data['contact_phone'];
		var mannul= '<span class="store-update" data-toggle="modal" data-target="#myModal">修改</span><span>|</span><span class="store-delete">删除</span>';
		var num5 = tr.insertCell(4) ;
		num5.innerHTML = mannul;
	}
	// 点击修改按钮 （验证 更新）
	var store_id;
	var tr_sel;
	$('body').delegate('.store-update', 'click', function() {
		// 每次打开先关闭
		$('.err_name').hide();
		$('.err_addr').hide();
		$('.err_person').hide();
		$('.err_phone').hide();
		store_id=$(this).parents('tr').attr('class');
		tr_sel='.'+store_id;
		var store_name=$(this).parents('tr').children('td:nth-child(1)').html();
		var store_addr=$(this).parents('tr').children('td:nth-child(2)').html();
		var store_person=$(this).parents('tr').children('td:nth-child(3)').html();
		var store_phone=$(this).parents('tr').children('td:nth-child(4)').html();
		$("#m_s_name").val(store_name);
		$("#m_s_addr").val(store_addr);
		$("#m_s_person").val(store_person);
		$("#m_s_phone").val(store_phone);
	});
	// 点击摸态框修改按钮  （验证 更新）
	$('body').delegate('#true_change', 'click', function() {

		var m_c_name=$('#m_s_name').val();
		var m_c_addr=$('#m_s_addr').val();
		var m_c_person=$('#m_s_person').val();
		var m_c_phone=$('#m_s_phone').val();

		if (m_c_name=='') {
			show_err('.err_name','名称不能为空')
		}
		if (m_c_addr=='') {
			show_err('.err_addr','地址不能为空')
		}
		if (m_c_person=='') {
			show_err('.err_person','联系人不能为空')
		}
		if (!is_phone(m_c_phone)) {
			show_err('.err_phone','手机号格式错误')
		}
		if (m_c_name!=''&&m_c_addr!=''&&m_c_person!=''&&is_phone(m_c_phone)) {
			$(tr_sel).children('td:nth-child(1)').html( m_c_name);
			$(tr_sel).children('td:nth-child(2)').html( m_c_addr);
			$(tr_sel).children('td:nth-child(3)').html( m_c_person);
			$(tr_sel).children('td:nth-child(4)').html( m_c_phone);
			$.ajax({
				url:'/store/reset_agentinfo',
				type:'post',
				data:{'uid':store_id,'name':m_c_name,'address':m_c_addr,'contact':m_c_person,'contact_phone':m_c_phone},
				success:function (data) {
					console.log(data)
				}
			})
			$('#myModal').modal('hide');
			
		}
	});
	// 点击删除按钮 
	$('body').delegate('.store-delete', 'click', function() {
		var store_id=$(this).parents('tr').attr('class');
		layer.confirm('确定删除？',
			{btn:['确定']},
			function(){
			$.ajax({
				url:'/store/delete_agent',
				type:'post',
				data:{'uid':store_id},
				success:function (data) {
					console.log(data)
					if (data.result.err==0) {
						layer.msg('产品已删除',{icon:1,time: 1000});
						setTimeout(function () {
							$(this).parents('tr').remove();
							window.location.href='';
						},1000)
					}else{
						
					}
				}
			})
		})
	});
	// 手机格式正则
	function is_phone(phone){
	    var reg = /^1[3-9][0-9]{9}$/; 
	    //检测   exec
	    return reg.test(phone);
	}
	function show_err(e,i) {
		$(e).html(i);
		$(e).show();
	}
	$("#m_s_name").focus(function () {
		$('.err_name').hide();
	})
	$("#m_s_addr").focus(function () {
		$('.err_addr').hide();
	})
	$("#m_s_person").focus(function () {
		$('.err_person').hide();
	})
	$("#m_s_phone").focus(function(){
		$('.err_phone').hide();
	})
}) 
</script>