<style>
	.us-main{
		margin:0 auto;
		width: 1135px;
		padding-bottom:200px;
	}
	.about-us{
		padding-top:50px;
		height: 550px;
	}
	.us-title,.us-title-en{
		font-size: 20px;
		font-weight: bold;
		color: #585858;
		width: 120px;
		margin:0 auto;
		text-align: center;
	}
	.blue-hr{
		width: 120px;
		margin:10px auto;
	}
	.us-detail{
		margin-top: 100px;
		color: #585858;
	}
	.about-us p{
		font-size: 16px;
		margin-bottom: 10px;
	}
	.about_img{
		text-align: center;
		height: 500px;
		background-image: url(/Public/images/pic_1.jpg);
		background-size: 100% 500px;
	}
	.about_img p{
		font-family: 'SimHei';
		color: #fff;
		margin-bottom: 10px;
		font-size: 24px;
	}	
</style>
<div class="about_img">
	<div style="padding-top:250px;">
		<p>逍游天下，品鉴世界！ 逍品旅行，为品质代言，</p>
		<p>为中国出境旅游的优质供应商和专业的旅行顾问代言！</p>
	</div>
</div>
<div class="us-main">
	<div class="about-us">
		<div class="us-title">关于我们</div>
		<div class="blue-hr"><img src="/Public/images/blue-hr.png" alt=""></div>
		<div class="us-title-en">About Us</div>
		<div class="us-detail">
			<p style="margin-bottom:40px;line-height:30px">逍品旅行（QSCtrip.com）是专注于中国出境旅游优质服务供应商和高品质旅游产品的分销平台，我们只选择获得专业和权威认证的优质供应商。让优质出境旅游产品畅销无阻，是我们的专业追求，为代理商和旅行顾问提供全程无忧的分销工具，是我们的专业能力。</p>
		</div>
	</div>
</div>