<style>
	.us-main{
		margin:0 auto;
		width: 1135px;
		padding-bottom:200px;
	}
	.about-us,.join-us,.contact-us{
		padding-top:50px;
	}
	.us-title,.us-title-en{
		font-size: 20px;
		font-weight: bold;
		color: #585858;
		width: 120px;
		margin:0 auto;
		text-align: center;
	}
	.blue-hr{
		width: 120px;
		margin:10px auto;
	}
	.us-detail{
		color: #585858;
		width: 1135px;
		margin:0 auto;
		margin-top: 100px;
	}
	.contact-us p{
		font-size: 14px;
		margin-bottom: 30px;
	}
	
	.con_tel_icon,.con_em_icon,.con_ad_icon{
		font-size: 18px;
		height: 44px;
		line-height: 44px;
		margin-bottom: 30px;
		padding-left: 50px;
	}
	.con_tel_icon span,.con_em_icon span,.con_ad_icon span{
		font-size: 14px;
	}
	.con_tel_icon{
		background: url(/Public/images/yj_icon-01.png);
		background-position:left center;
		background-repeat: no-repeat;
	}
	.con_em_icon{
		background: url(/Public/images/yj_icon-02.png);
		background-position: left center;
		background-repeat: no-repeat;
	}
	.con_ad_icon{
		background: url(/Public/images/yj_icon-03.png);
		background-position: left center;
		background-repeat: no-repeat;
	}
	.con_con{
		margin-bottom: 80px;
		padding-left: 510px;
	}
</style>
<div class="us-main">
	<div id="contact-us" class="contact-us">
		<div class="us-title">联系我们</div>
		<div class="blue-hr"><img src="/Public/images/blue-hr.png" alt=""></div>
		<div class="us-title-en">Contact Us</div>
		<div class="us-detail">
			<div class="con_tel">
				<div class="con_tel_icon">联系电话 (Phone): &nbsp;<span>010-78997654&nbsp;<span style="color:#e10979"> 每天(9:00-18:00)</span></span></div>
			</div>
			<div class="con_em">
				<div class="con_em_icon">邮箱地址 (E-mail): &nbsp;<span>xiaopin@163.com</span></div>
			</div>
			<div class="con_ad">
				<div class="con_ad_icon">公司地址 (Address): &nbsp;<span>北京市 西城区 南滨河路 贵都国际中心A座2001 邮编：100055</span></div>
				<div>
					<img src="/Public/images/pic_3.jpg" alt="">
				</div>
			</div>
		</div>
	</div>
</div>