<style>
	.us_main{
		margin:0 auto;
		width: 1135px;
		padding-bottom:200px;
	}
	.about-us,.join-us,.contact-us{
		padding-top:50px;
	}
	.us-title,.us-title-en{
		font-size: 20px;
		font-weight: bold;
		color: #585858;
		width: 120px;
		margin:0 auto;
		text-align: center;
	}
	.blue-hr{
		width: 120px;
		margin:10px auto;
	}
	.us-detail{
		margin:0 auto;
		color: #585858;
		margin-top: 100px;
	}
	.join_img{
		height: 300px;
		background-image: url(/Public/images/pic_2.jpg);
		background-size: 100% 300px;
		text-align: center;
	}
	.job_detail{
		font-size: 18px;
		color: #00d8ff;
		font-weight:bold;
		margin-bottom: 30px;
		margin-top:40px;
	}
	.job_duty{
		font-weight: bold;
		color: #000;
		margin-bottom: 15px;
	}
	.job_req{
		font-weight: bold;
		color: #000;
		margin-top: 20px;
	}
	.job_hr{
		border-bottom:1px solid #ccc;
		padding-bottom:30px;
	}
	.em_indent{
		padding-left:20px;
	}
	.join_img p{
		font-family: 'SimHei';
		color: #fff;
		margin-bottom: 10px;
		font-size: 24px;
	}
	.em_indent p{
		margin-bottom: 10px;
	}	
</style>
<div class="join_img">
	<div style="padding-top:150px;">
		<p >带着梦想，加入我们!</p>
	</div>
</div>
<div class="us_main">
	<div id="job" class="join-us">
		<div class="us-title">加入我们</div>
		<div class="blue-hr"><img src="/Public/images/blue-hr.png" alt=""></div>
		<div class="us-title-en">Join Us</div>
		<div class="us-detail">
			<div class="job_hr">
				<p class="job_detail">1) 职位名称：WEB工程师&nbsp;<span style="font-size:14px;color:#585858;">（工作地点：北京）</span></p>
				<div class="em_indent">
					<p class="job_duty">岗位职责：</p>
					<p>1. 负责公司重点产品前端界面开发、优化。</p>
					<p>2. 持续优化用户界面的体验和交互设计。</p>
					<p class="job_req">任职资格：</p>
					<p>1. 优秀的编程能力及良好的编程习惯和团队协作精神;对html5 技术领域、新兴 web 标准和 web 发展趋势有良好洞察力和极高的关注度、有强烈的求知欲。</p>
					<p>2. 有1-3年Web前端研发经验，精通js、html、css等web前端开发技术, css样式兼容性处理以及新特性，熟悉各主流浏览器的差异，能规范书写兼容各主流浏览器的页面代码。</p>
					<p>3. 熟悉ajax,jquery, json等动态网页的技术，浏览器与 web 服务器传输技术,熟悉解决http请求跨越问题的方法,熟悉js与php后台程序的请求返回流程。</p>
					<p>4. 熟悉jquery等主流js框架，精通Bootstrap 前端开发框架和工具者优先。</p>
					<p>5. 有移动前端项目技术选型经验者优先。</p>
				</div>
			</div>
			<div class="job_hr">
				<p class="job_detail">2) 职位名称：PHP工程师<span style="font-size:14px;color:#585858;">（工作地点：北京）</span></p>
				<div class="em_indent">
					<p class="job_duty">岗位职责：</p>
					<p>1. 负责公司重点产品前端界面开发、优化。</p>
					<p>2. 持续优化用户界面的体验和交互设计。</p>
					<p class="job_req">任职资格：</p>
					<p>1. 优秀的编程能力及良好的编程习惯和团队协作精神;对html5 技术领域、新兴 web 标准和 web 发展趋势有良好洞察力和极高的关注度、有强烈的求知欲。</p>
					<p>2. 有1-3年Web前端研发经验，精通js、html、css等web前端开发技术, css样式兼容性处理以及新特性，熟悉各主流浏览器的差异，能规范书写兼容各主流浏览器的页面代码。</p>
					<p>3. 熟悉ajax,jquery, json等动态网页的技术，浏览器与 web 服务器传输技术,熟悉解决http请求跨越问题的方法,熟悉js与php后台程序的请求返回流程。</p>
					<p>4. 熟悉jquery等主流js框架，精通Bootstrap 前端开发框架和工具者优先。</p>
					<p>5. 有移动前端项目技术选型经验者优先。</p>
				</div>
			</div>
			<div class="job_hr">
				<p class="job_detail">3) 职位名称：产品经理<span style="font-size:14px;color:#585858;">（工作地点：北京）</sapn></p>
				<div class="em_indent">
					<p class="job_duty">岗位职责：</p>
					<p>1、负责公司B端流程梳理、系统优化，提高使用过程中的用户体验。</p>
					<p>2、管理需求，包括需求汇总（业务反馈情况收集和需求构想）、可行性分析、征询意见、编写需求、组织需求评审。</p>
					<p>3、排定开发任务优先级，协调技术开发人员，跟踪产品开发进度，完成产品的设计、开发、测试、版本管理、评审发布、产品上线、数据跟踪等工作。</p>
					<p>4、制定产品业务规范，整理、完善产品文档，业务流程及相关内容。</p>
					<p class="job_req">任职资格：</p>
					<p>1、本科毕业，有互联网产品经理背景优先。</p>
					<p>2、学习能力强，可以快速学习业务知识、熟悉系统。</p>
					<p>3、思维活跃，有想法，有创新意识。</p>
					<p>4、可以自我驱动，主动收集信息、制定解决方案并积极推动产品迭代。</p>
					<p>5、工作3年以上，有大型互联公司背景者优先。
				</div>
			</div>
		</div>
	</div>
</div>