<style>
	.server-main{
		margin:0 auto;
		width: 1135px;
		padding-bottom: 200px;
		padding-top:50px;
	}
	.us-title{
		font-size: 20px;
		font-weight: bold;
		color: #585858;
		width: 120px;
		margin:0 auto;
		text-align: center;
	}
	.blue-hr{
		width: 120px;
		margin:10px auto;
	}
	.server-dertail{
		margin-top: 30px;
		font-size: 14px;
		color: #585858;
	}
	.server-title{
		margin:30px 0 20px 0;
	}
	.server-title+p{
		text-indent: 2em;
		line-height:25px;
	}
</style>
<div class="server-main">
	<div class="us-title">服务协议</div>
	<div class="blue-hr"><img src="/Public/images/blue-hr.png" alt=""></div>
	<div class="server-dertail">
		<p class="server-title">1、隐私条款的确认和接纳</p>
		<p> 尊重用户个人隐私是逍品旅行的一项基本政策。逍品旅行客户端软件是将有资质的酒店、机票代理机构、旅行社等提供的旅游服务信息汇集于客户端软件平台供用户查阅，同时帮助用户通过客户端软件与上述酒店、机票代理机构、旅行社等联系并预订相关旅游服务项目。用户通过完成注册程序并点击“完成注册”的按钮，表示用户明确知晓本隐私条款所列事实，并与上海逍品旅行商务有限公司达成协议并接受所有的服务条款</p>
		<p class="server-title">2、服务提示</p>
		<p>逍品旅行将竭尽所能为您提供服务，但是由于我们无法对所有信息的真实性做出验证，或保证它们均属完整、正确，网站中可能包含与所显示的内容有关的技术误差或其他错误，包括但不限于适用于您的交易的价格、费用或供应情况。逍品旅行有权不提供受此类错误、误差或疏忽所影响的预订或信息，有权随时根据此类信息来更改、更正、取消和/或改进此类信息或预订，其中包括在预订确认之后。同时，逍品旅行欢迎用户对以上错误、失误进行指正、反馈，反馈邮箱为service@ctrip.com。</p>
		<p class="server-title">3、使用规则</p>
		<p>用户在使用逍品旅行网服务时，必须遵守中华人民共和国相关法律法规的规定，用户应同意将不会利用该服务进行任何违法或不正当的活动，包括但不限于下列行为：
		上载、展示、张贴、传播或以其它方式传送含有下列内容之一的信息：
		1) 反对宪法所确定的基本原则的；2) 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；3) 损害国家荣誉和利益的；4) 煽动民族仇恨、民族歧视、破坏民族团结的；5) 破坏国家宗教政策，宣扬邪教和封建迷信的；6) 散布谣言，扰乱社会秩序，破坏社会稳定的；7) 散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；8) 侮辱或者诽谤他人，侵害他人合法权利的；9) 含有虚假、有害、胁迫、侵害他人隐私、骚扰、侵害、中伤、粗俗、猥亵、或其它道德上令人反感的内容；10) 含有中国法律、法规、规章、条例以及任何具有法律效力之规范所限制或禁止的其它内容的。为任何非法目的而使用网络服务系统。 利用逍品旅行网络服务从事以下活动：
		1) 未经允许，进入计算机信息网络或者使用计算机信息网络资源的； 未经允许，对计算机信息网络功能进行删除、修改或者增加的；未经允许，对进入计算机信息网络中存储、处理或者传输的数据和应用程序进行删除、修改或者增加的；故意制作、传播计算机病毒等破坏性程序的；其他危害计算机信息网络安全的行为。2) 对逍品旅行网站上的任何数据作商业性利用，包括但不限于在未经逍品旅行事先书面同意的情况下，以复制、传播等任何方式使用逍品旅行网站上展示的资料。3) 使用任何装置、软件或例行程序等其他方式干预或试图干预逍品旅行网站的正常运作或正在逍品旅行网站上进行的任何交易、活动，或采取任何将导致不合理的庞大数据负载加诸逍品旅行网络设备的行动。4) 违反诚实信用原则的不正当竞争行为，或恶意下订单或虚假交易等其他恶意扰乱逍品旅行交易秩序的行为。5) 与网上交易无关的其他行为。
		</p>
		<p class="server-title">4、用户隐私制度</p>
		<p>逍品旅行严格保障用户隐私权，将会采取合理的措施保护用户的个人信息。因此，作为对以上第二点信息收集的补充，逍品旅行不会公开、编辑或透露用户的补充资料及保存在逍品旅行会员服务中的非公开内容，除非有法律许可要求或逍品旅行在诚信的基础上认为透露这些信息在以下情况是必要的： ⑴遵守有关法律规定，遵从逍品旅行会员合法服务程序； ⑵保持维护逍品旅行的商标所有权； ⑶在紧急情况下竭力维护用户个人和社会大众的隐私安全； ⑷符合其他法定程序相关的要求。
		特别授权 
		您完全理解并不可撤销地、免费地授予逍品旅行及其关联公司下列权利： 
		1、逍品旅行关联公司或合作公司允许逍品旅行用户登录关联公司或合作公司并使用其服务，逍品旅行用户在关联公司或合作公司的任何行为均需遵守该等协议的约定、公布的规则以及有关正确使用服务的说明和操作指引。为了实现上述功能，您同意逍品旅行将您在逍品旅行的注册信息、交易/支付数据等信息和数据同步至关联公司或合作公司系统并允许其使用。 
		2、如您以逍品旅行关联公司或合作公司用户账号和密码登录逍品旅行，为了实现向您提供同等服务的功能，您同意逍品旅行将您在关联公司或合作公司账号项下的注册信息、交易/支付数据等信息和数据同步至逍品旅行系统并进行使用，并且您不会因此追究逍品旅行以及逍品旅行关联公司或合作公司的责任。 
		3、为确保交易安全，允许逍品旅行及其关联公司对用户信息进行数据分析，并允许逍品旅行及其关联公司对上述分析结果进行商业利用。 
		4、您在享受逍品旅行提供的各项服务的同时，授权并同意接受逍品旅行向您的电子邮件、手机、通信地址等发送商业信息，包括不限于最新的逍品旅行产品信息、促销信息等。若您选择不接受逍品旅行提供的各类信息服务，您可以按照逍品旅行提供的相应设置拒绝该类信息服务。 
		</p>
		<p class="server-title">5、Cookie的使用</p>
		<p>Cookie是网页服务器放在您访问设备上的文本文件，会帮助您在后续访问时调用信息，简化记录您填写个人信息的流程。您有权接受或拒绝Cookie，如果浏览器自动接收Cookie，您可以根据自己的需要修改浏览器的设置以拒绝Cookie。请注意，如果您选择拒绝Cookie，那么您可能无法完全体验逍品旅行提供的服务。</p>
		<p class="server-title">6、用户的账号、密码和安全性</p>
		<p>您一旦注册成为逍品旅行用户，您将拥有一个账号和密码。如果您不保管好自己的账号和密码安全，将负全部责任。另外，每个用户都要对其账户中的所有活动和事件负全责。您可随时改变您的密码和图标，也可以结束旧的账户重开一个新账户。用户若发现任何非法使用用户账号或安全漏洞的情况，应立即通告逍品旅行网。</p>
		<p class="server-title">7、个人敏感信息提示</p>
		<p>某些特殊的个人信息可能被认为是个人敏感信息，例如您的种族、宗教、个人健康和医疗信息等，这些个人敏感信息将受到严格保护。逍品旅行隐私条款在此提醒您，您在使用逍品旅行为您提供的产品及服务中所上传或发布的内容和信息可能会泄露您的个人敏感信息。因此，您需要在使用我们为您提供的产品或服务前谨慎考虑。您同意这些个人敏感信息将按照《逍品旅行隐私政策》阐明的目的和方式来进行处理</p>
		<p class="server-title">8、逍品旅行会员服务信息的储存及限制</p>
		<p>逍品旅行不对用户所发布信息的删除或储存失败负责。逍品旅行没有对信息的传输量规定上限，但是它有判定用户的行为是否符合逍品旅行会员服务条款的要求和精神的保留权利，如果用户违背了服务条款的规定，则中断其会员服务的账号。本条款所有文章版权归原文作者和上海逍品旅行商务有限公司共同所有，任何人需要转载该文章，必须征得原文作者或上海逍品旅行商务有限公司授权。</p>
		<p class="server-title">9、信息安全</p>
		<p>逍品旅行非常重视信息安全，成立了专门的负责团队。逍品旅行使用目前业界高可靠性的服务器软件，支持安全加密协议，并自主研发多项信息安全技术和专利，采用严格措施最大程度确保用户提供的信息不被非法访问。用户明确同意其使用逍品旅行会员服务所存在的风险将完全由其自己承担。</p>
		<p class="server-title">10、未成年人信息保护</p>
		<p>逍品旅行非常重视对未成年人个人信息的保护。若您是18周岁以下的未成年人，在使用逍品旅行的服务前，应事先取得您家长或法定监护人的书面同意。</p>
		<p class="server-title">11、有限责任</p>
		<p>逍品旅行对任何直接、间接、偶然、特殊及继起的损害不负责任，这些损害来自：不正当使用网络会员服务，非法使用服务或用户传送的信息有所变动。</p>
		<p class="server-title">12、用户内容管理</p>
		<p>用户单独承担发布内容的责任。用户对服务的使用是根据所有适用于逍品旅行服务的地方法律、国家法律和国际法律标准的。用户必须遵循： ⑴发布信息时必须符合中国有关法规； ⑵使用网络会员服务不作非法用途； ⑶不干扰或混乱网络服务； ⑷遵守所有使用会员服务的网络协议、规定和程序。 会员服务是利用因特网发送和收取信息。所以，用户的行为指引是根据国家有关因特网的法规，政策和程序的。用户须承诺不传输任何非法的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、伤害性的、庸俗的，淫秽等信息资料。另外，用户也不能传输任何教唆他人构成犯罪行为的资料；不能传输助长国内不利条件和涉及国家安全的资料；不能传输任何不符合当地法规、国家法律和国际法律的资料。未经许可而非法进入其它电脑系统是禁止的。若用户的行为不符合以上提到的服务条款，逍品旅行将作出独立判断立即取消用户服务账号。用户需对自己在会员服务中的行为承担法律责任。用户若在会员服务中散布和传播反动、色情或其他违反国家法律的信息，会员服务的系统记录有可能作为用户违反法律的证据</p>
		<p class="server-title">13、结束服务</p>
		<p> 用户或逍品旅行可随时根据实际情况中止网站服务。逍品旅行不需对任何个人或第三方负责而随时中断服务。用户若反对任何服务条款的建议或对后来的条款修改有异议，或对逍品旅行会员服务不满，用户只有以下的追索权： ⑴不再使用逍品旅行会员服务； ⑵结束用户使用逍品旅行会员服务的资格； ⑶通告逍品旅行停止该用户的服务。 结束用户服务后，用户使用逍品旅行会员服务的权利马上中止。从那时起，逍品旅行不再对用户承担任何义务。</p>
		<p class="server-title">14、隐私条款的适用范围</p>
		<p>除某些特定服务外，我们所有的服务均适用《逍品旅行隐私政策》。特定服务将适用特定的隐私政策。该特定服务的隐私政策构成《逍品旅行隐私政策》的一部分。如任何特定服务的隐私政策与《逍品旅行隐私政策》有不一致之处，则适用特定服务的隐私政策。除另有规定外，《逍品旅行隐私条款》所用词语将与《逍品旅行客户端软件许可及服务协议》 所定义的词语具有相同的涵义。请您注意，《逍品旅行隐私政策》不适用于以下情况：通过我们的服务而接入的第三方服务（包括任何第三方网站）收集的信息；通过在我们服务中进行广告服务的其他公司和机构所收集的信息。</p>
		<p class="server-title">15、隐私条款的修改</p>
		<p>逍品旅行会在必要时修改隐私条款，逍品旅行隐私条款一旦发生变动，公司将会在用户进入下一步使用前的页面提示修改内容。您有权接受或拒绝，如果用户要继续使用逍品旅行服务需要两方面的确认： ⑴首先确认逍品旅行会员服务条款及其变动。 ⑵同意接受所有的服务条款限制。</p>
		<p class="server-title">16、法律 </p>
		<p>隐私条款要与该国的国家法律解析一致，包括法律条款中有争议抵触的内容。用户和上海携程商务有限公司一致同意服从法院的管辖。若有任何服务条款与法律相抵触，那这些条款将按尽可能接近的方法重新解析，而其它条款则保持对用户产生法律效力和影响，因解释本协议以及用户通过携程旅行网预订任何产品而导致的争议，将同意接受上海市长宁区人民法院的管辖。</p>
	</div>
</div>