<extend name="Index/index" />

<block name="con">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">用户修改</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>  
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default" style="background: rgba(0, 0, 0, 0) url('__PUBLIC__/Admin/imgs/background.jpg') no-repeat scroll center top;">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <div class="row">
                    <div style="width:430px;height:auto;float:right;margin-top:30px">
                    
                    </div>
                        <div class="col-lg-6">
                            <form role="form" action="{:U('Admin/User/update')}" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label>姓名</label>
                                    <input name="username" value="{$info['realname']}" type="text" class="form-control" placeholder="请输入8~18位字母数字下划线">
                                </div>
                                <div class="form-group">
                                    <label>密码</label>
                                    <input name="password" value="{$info['password']}" type="password" class="form-control" placeholder="请输入8~18非空白字符">
                                </div>
                                
                                <div class="form-group">
                                    <label>个人简介</label>
                                    <textarea class="form-control" name="intro" rows="3">{$info['comment']}</textarea>
                                </div>
                                

                             
                                
                                <div class="form-group">
                                    <label>性别</label><br>
                                    <label class="radio-inline">
                                        <input type="radio"  <if condition="$info['sex'] eq 0"> checked</if> name="sex" id="optionsRadiosInline1" value="0" checked="">女
                                    </label>
                                    <label class="radio-inline">
                                        <input <if condition="$info['sex'] eq 1"> checked</if> type="radio" name="sex" id="optionsRadiosInline2" value="1">男
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label>用户组</label>
                                    <select class="form-control" name="groups">
                                        <option value="编辑" <if condition="$info['groups'] eq '编辑'"> selected</if>>编辑</option>
                                        <option value="管理员" <if condition="$info['groups'] eq '管理员'"> selected</if> >管理员</option>
                                        <option value="普通用户" <if condition="$info['groups'] eq '普通用户'"> selected</if>>普通用户</option>
                                    </select>
                                </div>
                                <img src="{$info['pic']}" alt="" width="200">
                                <div class="form-group">
                                    <label>用户的头像</label>
                                    <input type="file" name="pic">
                                </div>
                                <input type="hidden" name="id" value="{$info['id']}">
                                <input type="hidden" name="pic" value="{$info['pic']}">
                               <button class="btn btn-outline btn-primary">修改</button>
                               <button class="btn btn-outline btn-danger">重置</button>
                            </form>
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                       
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>	  
</block>